<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
      defaulHref="/"
      text="volver"
      color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre la App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/fotoapp.jpg" class="ion-padding"/>
    <ion-card-header>
      <ion-card-subtitle>Renovando la gestión de la asistencia</ion-card-subtitle>
      <ion-card-title style="color: #632B8F; text-align: justify;">El QR y los alumnos</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color: #AF4CFD; text-align: justify;">
      La tecnología cada vez esta más al alcance de los jóvenes. Por aquello,
      nuestra nueva app de registro de asistencia provee al docente y al alumnos
      gestionar la asistencia de forma más cómoda y eficiente.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Respaldo de entrada y salida</ion-card-subtitle>
      <ion-card-title style="color: #632B8F; text-align: justify;">Seguimiento en la asistencia</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color: #AF4CFD; text-align: justify;">
      Gracias a este registro, podremos identificar horario de entrada y salida del alumno.
      Identificando fechas asistidas, como también las no asistidas.
    </ion-card-content>
    <img src="assets/ejemploasis.jpeg" class="ion-padding"/>
  </ion-card>

</ion-content>